    body{
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        /* background-color:hsl(185, 75%, 39%); */
    }
    /* .img1{
        background-size: cover;
        position: relative;
        margin-top: -500px;
        left: -300px;
    }
    .img2{
        
        background-size: cover;
        position: relative;
        top: -600px;
        left: 800px;
    } */
    .header{
        position: relative;
        top: -300px;
        margin-left: 550px;
        border: 2px;
        background-color: white;
        border-radius: 10px;
        width: 400px;
        height: 450px;
        overflow: hidden;
        z-index: 2;
    }
    .top{
        position: fixed;
        top: -300px; 
        left: -50px;
        z-index: -1; 
        width: 700px; 
        height: 800px; 
        background-image: url("bg-pattern-top.svg");
    }
    .bottom{
        position: fixed;
        bottom: 0; 
        right: 0; 
        z-index: -1; 
        width: 700px; 
        height: 800px; 
        background-image: url("bg-pattern-bottom.svg");
        background-size: contain; 
        background-repeat: no-repeat;
        top: 300px;-size: contain; 
        background-repeat: no-repeat;

    }
    .photo{
        position: absolute;
        background-image: url("images/image-victor.jpg");
        left: 150px;
        top: 110px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border: 3px solid white;
    }
    .text1 h2{
        text-align: center;
        margin-top: 50px;
    }
    .text1 h2 span{
        color: red;
        font-weight: 400;
    }
    .text1 p{
        font-weight: lighter;
        text-align: center;
    }
    .text2{
        display: flex;
        padding: 70px;
        justify-content: space-around;
    }
  .attribution{
     font-size: 11px; text-align: center; 
    }

  .attribution a{
     color: hsl(228, 45%, 44%); 
    }